.password {
  position: absolute;;
  top: 30px;
  left: 0px;
}

.action {
  position: absolute;
  top: 60px;
  left: 5px;
}

.signup {
  position: absolute;
  top: 60px;
  left: 75px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.signout {
  position: absolute;
  top: 100px;
  left: 30px;
}

@media screen and (max-width: 1020px) {
  .password, .action, .signup, .container, .signout {
    float: none;
    width: auto;
  }
}
